<!-- HTML -->
{#if label.length}
  <div class="group">
    <label>{label}</label>
  </div>
{/if}
{#each Object.keys(valueRender) as prop}
  {#if typeof valueRender[prop] === 'object'}
    <svelte:self label={prop} valueRender={ Object.assign({}, valueRender[prop]) } bind:value=value[prop] />
  {:else}
    <div class="row">
      <label>{prop}</label>
      {#if typeof valueRender[prop] === 'string'}
        {#if prop.substr(-5) === 'passw'}
          <InputPassword bind:value=value[prop]/>
        {:else}
          <InputText bind:value=value[prop]/>
        {/if}
      {:elseif typeof valueRender[prop] === 'number'}
        <InputNumber bind:value=value[prop]/>
      {:elseif typeof valueRender[prop] === 'boolean'}
        <InputBool bind:value=value[prop]/>
      {:elseif typeof valueRender[prop] === 'object'}
        <svelte:self valueRender={ Object.assign({}, valueRender[prop]) } bind:value=value[prop] />
      {/if}
    </div>
  {/if}
{/each}


<!-- CSS -->
<style>
  .row {
    display: flex;
    justify-content: flex-start;
    height: 35px;
    line-height:35px;
    margin: 0 0 0 15px;
  }

  .row label {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    white-space: pre;
    min-width: 100px;
    text-align: right;
    margin-right: 20px;
  }

  .group {
    margin: 10px 0 4px 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .group label {
    margin: 0 10px 0 0;
    border-bottom: 2px solid #aaa;
    display:block;
  }
</style>


<!-- Code -->
<script>
  import InputBool      from './InputBool.html';
  import InputNumber    from './InputNumber.html';
  import InputText      from './InputText.html';
  import InputPassword  from './InputPassword.html';

  export default {
    data () {
      return {
        label: '',
        value: {},
        valueRender: {}
      }
    },
    oncreate () {
    },
    components: { 
      InputBool,
      InputNumber,
      InputText,
      InputPassword,
    },
  };
</script>


