<!-- HTML -->
<label>
  <input type="checkbox" bind:checked=value />
  <span></span>
</label>


<!-- CSS -->
<style>
  label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  label input {
    display:none;
    width: 60px;
    height: 35px;
  }

  /* The slider */
  span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  span:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + span {
    background-color: #5b8dad;
  }

  input:focus + span {
    box-shadow: 0 0 1px #5b8dad;
  }

  input:checked + span:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
</style>


<!-- Code -->
<script>
  export default {
    data () {
      return {
        value: false
      }
    },
    components: { 
    },
  };
</script>

